<header id="header">
  <nav class="links" style="--items: 5">
    <a routerLink="../">
      <span class="material-icons"> home </span>
    </a>
    <a routerLink="/favourites">
      <span class="material-icons"> shopping_cart </span>
    </a>
    <a routerLink="/addItem"
      ><span class="material-icons"> add_circle_outline </span>
    </a>
    <a routerLink="../"><span class="material-icons"> info </span></a>
    <a href="/register"><span class="material-icons"> logout </span> </a>
    <span class="line"></span>
  </nav>
</header>
