p {
    font-family: Lato;
  }

  mat-card {
    padding: 30px;
    margin-bottom: 50px;
  }

//   mat-form-field {
//       width: 25%;
//   }

.center {
    margin: auto;
    height: 60%;
    width: 50%;
    padding: 105px;
    text-align: center;
  }

  .first-field {
    display: grid;
    // padding-right: 10px;
  }

  // .second-field {
  //   display: grid;
  //   // grid-column: auto;
  // }