.center {
    margin: auto;
    height: 60%;
    width: 50%;
    padding: 105px;
    text-align: center;
  }

  mat-form-field {
	  padding: 10px;
  }

.button-size {
    background: transparent;
    border: none;
    outline: none;
    display: block;
    height: 50px;
    width: 80px;
	color: white;
    cursor: pointer;
}
