.backGround {
  /* The image used */
  background-image: url('../assets/img/the-last-of-us-part-2-minimalist-a55235.jpg');
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  min-height: 100%;
}
