<nav class="sidebar-navigation">
	<ul>
		<li class="active">
			<i class="fa fa-share-alt">
        <span class="material-icons">
          home
          </span>
        </i>
    	</li>
		<li>
      <button class="button-size" routerLink="/favourites">
			<i class="fa fa-hdd-o"></i>
      <span class="material-icons">
        add_circle_outline
        </span>
      </button>
    </li>
		<li>
      <button class="button-size" routerLink="/favourites">
			<i class="fa fa-newspaper-o"></i>
      <span class="material-icons">face</span>
      </button>
		</li>
		<li>
      <button class="button-size" routerLink="/favourites">
			<i class="fa fa-print"></i>
      <span class="material-icons">
        favorite_border
        </span>
      </button>
    </li>
		<li>
      <button class="button-size" routerLink="/favourites">
			<i class="fa fa-sliders"></i>
      <span class="material-icons">
        settings
        </span>
        </button>
    </li>
    <li>
    <button class="button-size" routerLink="/favourites">
    <span class="material-icons">
      logout
      </span>
    </button>
    </li>
	</ul>
</nav>
<p>favorites works!</p>
<h1>helllllllllllllllllllloooooooooooooooooo</h1>
